
#bg__intro{
    background-image: url('../../assets/home/home_bg_img2.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    &__gender_section{
        background-image: url('../../assets/home/home_bg_img1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    &__age_section{
        background-image: url('../../assets/home/home_bg_img3.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
}

